---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About - Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/tracker">Book Tracker</a>

    <h1>About books</h1>
    <h2>... and my book tracker site!</h2>
    <p>I am working through Astro's guidelines. This is the second page onmy website, and it's for general information about my book tracker.</p>
    <p>This site will update as I complete more sections, so keep checking back and see how my journey is going.</p>
  </body>
</html>