---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = 'Home Page'
---
<BaseLayout pageTitle={pageTitle}>
	<p>This is Astro, the new way to built the most powerful pages with JavaScript, TypeScript and your favorite frameworks like React, Vue, Svelte, etc.</p>
	<h2>My awesome blog subtitle</h2>
</BaseLayout>
