---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/blog">Blog</a>

		<h1>My Astro Site</h1>
		<p>This is Astro, the new way to built the most powerful pages with JavaScript, TypeScript and your favorite frameworks like React, Vue, Svelte, etc.</p>
	</body>
</html>
